<app-header></app-header>
<div class="container">
  <div class="div-img">
    <img
      src="https://sodimac.scene7.com/is/image/SodimacCL/3172996_01?$producto495$&id=Wjgnz3&fmt=jpg&fit=constrain,1&wid=493&hei=493"
      alt="llave"
      width="80%"
    />
  </div>
  <div class="div-price">29990</div>
  <div class="div-brand">hasbro</div>
  <div class="div-detail">pieza para la cama</div>
  <div class="div-hall">Encuentralo en el pasillo 20</div>
  <div class="buttons">
    <button class="btn-hall">Ver Ubicación</button>
    <button class="btn-project">Agregar proyecto</button>
  </div>
</div>
