<div class="container">
  <div class="selection">
    <div class="logo">
      <img src="assets/logo.svg" alt="logo sodimac" />
    </div>
    <div class="div-mode">
      <h2>¿Cómo deseas comprar?</h2>
    </div>
    <div class="buttons">
      <div class="div-store">
        <a routerLink="/home"> <button class="red-button">Tienda</button></a>
      </div>
      <div class="div-online">
        <a routerLink="/home"> <button class="red-button">Online</button></a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
