.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url(../../../../assets/background-where-to-buy.jpg);
  .selection {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 56px;
    .logo {
      img {
        max-width: 70px;
        mix-blend-mode: darken;
      }
    }
    .div-mode {
      width: 199px;
      height: 71px;
      left: 90px;
      top: 97px;

      h2 {
        font-size: 18px;
      }
    }
    .buttons {
      padding-top: 0px;

      .div-store {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
