<div class="container-fluid location">
    <app-header></app-header>

    <div class="gpsInfoContainer">
        <div class="gpsIcon">
            <img src="../../../../assets/img/logos/ubicacion.png" alt="logo gps">
        </div>
        <br>
        <p class="gpsMessage">Estás en</p>
        <p class="gpsLocationMessage">Homecenter Ñuble</p>
        <br>
        <div class="buttons">
            <div>
                <a routerLink="#">
                    <button class="btn-continue">CONTINUAR</button>
                </a>
            </div>
        </div>
        <br>
        <p class="gpsMessageOption">Seleccionar de forma manual</p>
    </div>
</div>