@media (max-width: 600px) {
  .container {
    position: fixed;
    width: 100%;
    height: 57px;
    top: 610px;
    background-color: var(--main-color);
    .text {
      color: #fff;
      h3 {
        text-align: center;
        padding-top: 15px;
      }
    }
  }
}
