@media (max-width: 600px) {
  .container {
    position: absolute;
    width: 400px;
    height: 57px;
    left: 0;
    top: 610px;
    background-color: var(--main-color);
    .text {
      color: #fff;
      p {
        padding-left: 135px;
      }
    }
  }
}
