<header class="homeHeader">
    <div class="sodimacLogo"><img src="../../../../assets/img/logos/SodimacLogo.png" alt="Logo Sodimac"></div>
    <div class="icons">
        <div class="searchIcon"><img src="../../../../assets/img/logos/search.png" alt="Ícono búsqueda"></div>
        <div class="shoppingCartIcon"><img src="../../../../assets/img/logos/supermarket.png" alt="Ícono carro de compra"></div>
        <div class="profileIcon"><img src="../../../../assets/img/logos/profile-userb.png" alt="Ícono carro de compra"></div>
    </div>
</header>