.userShopLocation {
    color: #1F1F1F;
    font-family: Lato;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    margin-top: 10px;
    padding-bottom: 20px; ;
    border-bottom: 0.5px solid rgba(189, 189, 189, 0.45);
}

.localUbication {
    display: flex;
    justify-content: center;
}

.gpsSimple {
    padding: 10px;
}