<div class="navigation-bar">
  <div class="ellipse">
    <img src="assets/ellipse.svg" alt="ellipse" />
  </div>
  <div class="icon-bar">
    <a routerLink="/home" class="icon">
      <img src="assets/home-icon.svg" alt="icono de home" />
    </a>
    <h3>Inicio</h3>
  </div>
  <div class="icon-bar">
    <a routerLink="/scan" class="icon">
      <img
        src="assets/barcode-icon.svg"
        alt="icono de escanear código de barras"
    /></a>
    <h3>Escáner</h3>
  </div>
  <div class="icon-central">
    <a routerLink="/assistant" class="icon">
      <img
        src="assets/assistant-icon.svg"
        alt="icono de asistencia por vendedor"
    /></a>
    <h3>
      Solicitar <br />
      asistencia
    </h3>
  </div>
  <div class="icon-bar">
    <a routerLink="/planning" class="icon">
      <img src="assets/list-icon.svg" alt="icono de lista de proyectos"
    /></a>
    <h3>Proyectos</h3>
  </div>
  <div class="icon-bar">
    <a routerLink="/catalogue" class="icon">
      <img src="assets/catalogue-icon.svg" alt="icono de catálogo"
    /></a>
    <h3>Catálogo</h3>
  </div>
</div>
