/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #66afe7;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
