<app-header></app-header>
<div class="container-fluid sodimacHome">
  <owl-carousel
    [options]="SlideOptions"
    [items]="folderCarouselPpal"
    [carouselClasses]="['owl-theme', 'sliding']"
  >
    <div class="item" *ngFor="let img of ImgCarouselPpal">
      <div style="align-content: center">
        <img style="height: 260px;width:100%" src="{{ img }}" />
      </div>
    </div>
  </owl-carousel>
  <div class="scrollProd">
    <div *ngFor="let photo of products">
      <div class="div-img" routerLink="/products/{{ photo.payload.doc.id }}">
        <img class="ImgProd" [src]="photo.payload.doc.data().img" />
      </div>
    </div>
  </div>
</div>
<app-navigation-bar></app-navigation-bar>
